Booking.Client/Booking.Client/Connected Services/ServiceRemote/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55078/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55078/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55078/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55078/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Booking.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IService_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="IService_GetRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBooking" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooking" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBooking" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBooking" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCity" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCity" />
  </wsdl:message>
  <wsdl:message name="IService_GetCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCity" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCity" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDestination" />
  </wsdl:message>
  <wsdl:message name="IService_CreateDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDestination" />
  </wsdl:message>
  <wsdl:message name="IService_GetDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDestination" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDestination" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePassenger" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassenger" />
  </wsdl:message>
  <wsdl:message name="IService_GetPassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassenger" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePassenger" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePayment" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayment" />
  </wsdl:message>
  <wsdl:message name="IService_GetPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePayment" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePayment" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePlane_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlane" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlane_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlane" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePlane_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlane" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePlane_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlane" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateRow_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRow" />
  </wsdl:message>
  <wsdl:message name="IService_CreateRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRow" />
  </wsdl:message>
  <wsdl:message name="IService_GetRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateRow_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRow" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteRow_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRow" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeat" />
  </wsdl:message>
  <wsdl:message name="IService_CreateSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeat" />
  </wsdl:message>
  <wsdl:message name="IService_GetSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeat" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeat" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateSeatSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeatSchema" />
  </wsdl:message>
  <wsdl:message name="IService_CreateSeatSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeatSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSetSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSetSchema" />
  </wsdl:message>
  <wsdl:message name="IService_GetSetSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSeatSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeatSchema" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSeatSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeatSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSeatSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeatSchema" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSeatSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeatSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTicket" />
  </wsdl:message>
  <wsdl:message name="IService_CreateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="IService_GetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicket" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicket" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Post" message="tns:IService_Post_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PostResponse" message="tns:IService_Post_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRoute" message="tns:IService_GetRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRouteResponse" message="tns:IService_GetRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateCustomer" message="tns:IService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateCustomerResponse" message="tns:IService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCustomer" message="tns:IService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCustomerResponse" message="tns:IService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateCustomer" message="tns:IService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateCustomerResponse" message="tns:IService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteCustomer" message="tns:IService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteCustomerResponse" message="tns:IService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateBooking" message="tns:IService_CreateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateBookingResponse" message="tns:IService_CreateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBooking" message="tns:IService_GetBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBookingResponse" message="tns:IService_GetBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateBooking" message="tns:IService_UpdateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateBookingResponse" message="tns:IService_UpdateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteBooking" message="tns:IService_DeleteBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteBookingResponse" message="tns:IService_DeleteBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateCity" message="tns:IService_CreateCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateCityResponse" message="tns:IService_CreateCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCity" message="tns:IService_GetCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCityResponse" message="tns:IService_GetCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateCity" message="tns:IService_UpdateCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateCityResponse" message="tns:IService_UpdateCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteCity" message="tns:IService_DeleteCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteCityResponse" message="tns:IService_DeleteCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateDestination" message="tns:IService_CreateDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateDestinationResponse" message="tns:IService_CreateDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDestination" message="tns:IService_GetDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDestinationResponse" message="tns:IService_GetDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateDestination" message="tns:IService_UpdateDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateDestinationResponse" message="tns:IService_UpdateDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteDestination" message="tns:IService_DeleteDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteDestinationResponse" message="tns:IService_DeleteDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreatePassenger" message="tns:IService_CreatePassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreatePassengerResponse" message="tns:IService_CreatePassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPassenger" message="tns:IService_GetPassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPassengerResponse" message="tns:IService_GetPassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdatePassenger" message="tns:IService_UpdatePassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdatePassengerResponse" message="tns:IService_UpdatePassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeletePassenger" message="tns:IService_DeletePassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeletePassengerResponse" message="tns:IService_DeletePassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreatePayment" message="tns:IService_CreatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreatePaymentResponse" message="tns:IService_CreatePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPayment" message="tns:IService_GetPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPaymentResponse" message="tns:IService_GetPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdatePayment" message="tns:IService_UpdatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdatePaymentResponse" message="tns:IService_UpdatePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeletePayment" message="tns:IService_DeletePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeletePaymentResponse" message="tns:IService_DeletePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreatePlane" message="tns:IService_CreatePlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreatePlaneResponse" message="tns:IService_CreatePlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPlane" message="tns:IService_GetPlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPlaneResponse" message="tns:IService_GetPlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdatePlane" message="tns:IService_UpdatePlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdatePlaneResponse" message="tns:IService_UpdatePlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeletePlane" message="tns:IService_DeletePlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeletePlaneResponse" message="tns:IService_DeletePlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateRow" message="tns:IService_CreateRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateRowResponse" message="tns:IService_CreateRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRow" message="tns:IService_GetRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRowResponse" message="tns:IService_GetRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateRow" message="tns:IService_UpdateRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateRowResponse" message="tns:IService_UpdateRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteRow" message="tns:IService_DeleteRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteRowResponse" message="tns:IService_DeleteRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateSeat" message="tns:IService_CreateSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateSeatResponse" message="tns:IService_CreateSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSeat" message="tns:IService_GetSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSeatResponse" message="tns:IService_GetSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateSeat" message="tns:IService_UpdateSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateSeatResponse" message="tns:IService_UpdateSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteSeat" message="tns:IService_DeleteSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteSeatResponse" message="tns:IService_DeleteSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSeatSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateSeatSchema" message="tns:IService_CreateSeatSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateSeatSchemaResponse" message="tns:IService_CreateSeatSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSetSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSetSchema" message="tns:IService_GetSetSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSetSchemaResponse" message="tns:IService_GetSetSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeatSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateSeatSchema" message="tns:IService_UpdateSeatSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateSeatSchemaResponse" message="tns:IService_UpdateSeatSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeatSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteSeatSchema" message="tns:IService_DeleteSeatSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteSeatSchemaResponse" message="tns:IService_DeleteSeatSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateTicket" message="tns:IService_CreateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateTicketResponse" message="tns:IService_CreateTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTicket" message="tns:IService_GetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTicketResponse" message="tns:IService_GetTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateTicket" message="tns:IService_UpdateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateTicketResponse" message="tns:IService_UpdateTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteTicket" message="tns:IService_DeleteTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteTicketResponse" message="tns:IService_DeleteTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service" />
</wsdl:definitions>