Booking.Client/Booking.Client/Connected Services/BookingServiceRemote/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Booking.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Security" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IService_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="IService_GetRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateDeparture_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDeparture" />
  </wsdl:message>
  <wsdl:message name="IService_CreateDeparture_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDepartureResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDeparture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparture" />
  </wsdl:message>
  <wsdl:message name="IService_GetDeparture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartureResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDeparture_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeparture" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDeparture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartureResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteDeparture_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDeparture" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteDeparture_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartureResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDepartures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartures" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDepartures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeparturesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBooking" />
  </wsdl:message>
  <wsdl:message name="IService_CreateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooking" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBooking" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBooking" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBookings" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCity" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCity" />
  </wsdl:message>
  <wsdl:message name="IService_GetCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCity" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCity" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDestination" />
  </wsdl:message>
  <wsdl:message name="IService_CreateDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDestination" />
  </wsdl:message>
  <wsdl:message name="IService_GetDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDestination" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDestination" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDestinations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDestinations" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDestinations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDestinationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDestinations_SecurityExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security" name="detail" element="q1:SecurityException" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePassenger" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassenger" />
  </wsdl:message>
  <wsdl:message name="IService_GetPassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassenger" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePassenger" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllPassengers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPassengers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllPassengers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPassengersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePayment" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayment" />
  </wsdl:message>
  <wsdl:message name="IService_GetPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePayment" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePayment" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePlane_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlane" />
  </wsdl:message>
  <wsdl:message name="IService_CreatePlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlane_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlane" />
  </wsdl:message>
  <wsdl:message name="IService_GetPlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePlane_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlane" />
  </wsdl:message>
  <wsdl:message name="IService_UpdatePlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePlane_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlane" />
  </wsdl:message>
  <wsdl:message name="IService_DeletePlane_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlaneResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllPlanes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlanes" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllPlanes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlanesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateRow_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRow" />
  </wsdl:message>
  <wsdl:message name="IService_CreateRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRow" />
  </wsdl:message>
  <wsdl:message name="IService_GetRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateRow_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRow" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteRow_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRow" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeat" />
  </wsdl:message>
  <wsdl:message name="IService_CreateSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeat" />
  </wsdl:message>
  <wsdl:message name="IService_GetSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeat" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeat" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTicket" />
  </wsdl:message>
  <wsdl:message name="IService_CreateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="IService_GetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicket" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicket" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Post" message="tns:IService_Post_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PostResponse" message="tns:IService_Post_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRoute" message="tns:IService_GetRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRouteResponse" message="tns:IService_GetRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDeparture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateDeparture" message="tns:IService_CreateDeparture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateDepartureResponse" message="tns:IService_CreateDeparture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeparture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDeparture" message="tns:IService_GetDeparture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDepartureResponse" message="tns:IService_GetDeparture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeparture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateDeparture" message="tns:IService_UpdateDeparture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateDepartureResponse" message="tns:IService_UpdateDeparture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDeparture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteDeparture" message="tns:IService_DeleteDeparture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteDepartureResponse" message="tns:IService_DeleteDeparture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartures">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllDepartures" message="tns:IService_GetAllDepartures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllDeparturesResponse" message="tns:IService_GetAllDepartures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateCustomer" message="tns:IService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateCustomerResponse" message="tns:IService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCustomer" message="tns:IService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCustomerResponse" message="tns:IService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateCustomer" message="tns:IService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateCustomerResponse" message="tns:IService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteCustomer" message="tns:IService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteCustomerResponse" message="tns:IService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllCustomers" message="tns:IService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllCustomersResponse" message="tns:IService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateBooking" message="tns:IService_CreateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateBookingResponse" message="tns:IService_CreateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBooking" message="tns:IService_GetBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBookingResponse" message="tns:IService_GetBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateBooking" message="tns:IService_UpdateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateBookingResponse" message="tns:IService_UpdateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteBooking" message="tns:IService_DeleteBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteBookingResponse" message="tns:IService_DeleteBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBookings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllBookings" message="tns:IService_GetAllBookings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllBookingsResponse" message="tns:IService_GetAllBookings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateCity" message="tns:IService_CreateCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateCityResponse" message="tns:IService_CreateCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCity" message="tns:IService_GetCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCityResponse" message="tns:IService_GetCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateCity" message="tns:IService_UpdateCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateCityResponse" message="tns:IService_UpdateCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteCity" message="tns:IService_DeleteCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteCityResponse" message="tns:IService_DeleteCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateDestination" message="tns:IService_CreateDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateDestinationResponse" message="tns:IService_CreateDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDestination" message="tns:IService_GetDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDestinationResponse" message="tns:IService_GetDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateDestination" message="tns:IService_UpdateDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateDestinationResponse" message="tns:IService_UpdateDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteDestination" message="tns:IService_DeleteDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteDestinationResponse" message="tns:IService_DeleteDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDestinations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllDestinations" message="tns:IService_GetAllDestinations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllDestinationsResponse" message="tns:IService_GetAllDestinations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/GetAllDestinationsSecurityExceptionFault" name="SecurityExceptionFault" message="tns:IService_GetAllDestinations_SecurityExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreatePassenger" message="tns:IService_CreatePassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreatePassengerResponse" message="tns:IService_CreatePassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPassenger" message="tns:IService_GetPassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPassengerResponse" message="tns:IService_GetPassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdatePassenger" message="tns:IService_UpdatePassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdatePassengerResponse" message="tns:IService_UpdatePassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeletePassenger" message="tns:IService_DeletePassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeletePassengerResponse" message="tns:IService_DeletePassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPassengers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllPassengers" message="tns:IService_GetAllPassengers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllPassengersResponse" message="tns:IService_GetAllPassengers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreatePayment" message="tns:IService_CreatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreatePaymentResponse" message="tns:IService_CreatePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPayment" message="tns:IService_GetPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPaymentResponse" message="tns:IService_GetPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdatePayment" message="tns:IService_UpdatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdatePaymentResponse" message="tns:IService_UpdatePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeletePayment" message="tns:IService_DeletePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeletePaymentResponse" message="tns:IService_DeletePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreatePlane" message="tns:IService_CreatePlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreatePlaneResponse" message="tns:IService_CreatePlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPlane" message="tns:IService_GetPlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPlaneResponse" message="tns:IService_GetPlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdatePlane" message="tns:IService_UpdatePlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdatePlaneResponse" message="tns:IService_UpdatePlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlane">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeletePlane" message="tns:IService_DeletePlane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeletePlaneResponse" message="tns:IService_DeletePlane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllPlanes" message="tns:IService_GetAllPlanes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllPlanesResponse" message="tns:IService_GetAllPlanes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateRow" message="tns:IService_CreateRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateRowResponse" message="tns:IService_CreateRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRow" message="tns:IService_GetRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRowResponse" message="tns:IService_GetRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateRow" message="tns:IService_UpdateRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateRowResponse" message="tns:IService_UpdateRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteRow" message="tns:IService_DeleteRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteRowResponse" message="tns:IService_DeleteRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateSeat" message="tns:IService_CreateSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateSeatResponse" message="tns:IService_CreateSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSeat" message="tns:IService_GetSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSeatResponse" message="tns:IService_GetSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateSeat" message="tns:IService_UpdateSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateSeatResponse" message="tns:IService_UpdateSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteSeat" message="tns:IService_DeleteSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteSeatResponse" message="tns:IService_DeleteSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateTicket" message="tns:IService_CreateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateTicketResponse" message="tns:IService_CreateTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTicket" message="tns:IService_GetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTicketResponse" message="tns:IService_GetTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateTicket" message="tns:IService_UpdateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateTicketResponse" message="tns:IService_UpdateTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteTicket" message="tns:IService_DeleteTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteTicketResponse" message="tns:IService_DeleteTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#WSHttpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post">
      <soap12:operation soapAction="http://tempuri.org/IService/Post" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <soap12:operation soapAction="http://tempuri.org/IService/GetRoute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDeparture">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateDeparture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeparture">
      <soap12:operation soapAction="http://tempuri.org/IService/GetDeparture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeparture">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateDeparture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDeparture">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteDeparture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartures">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAllDepartures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/IService/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBooking">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooking">
      <soap12:operation soapAction="http://tempuri.org/IService/GetBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBookings">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAllBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCity">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <soap12:operation soapAction="http://tempuri.org/IService/GetCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDestination">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateDestination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDestination">
      <soap12:operation soapAction="http://tempuri.org/IService/GetDestination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDestination">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateDestination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDestination">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteDestination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDestinations">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAllDestinations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SecurityExceptionFault">
        <soap12:fault use="literal" name="SecurityExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePassenger">
      <soap12:operation soapAction="http://tempuri.org/IService/CreatePassenger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassenger">
      <soap12:operation soapAction="http://tempuri.org/IService/GetPassenger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassenger">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdatePassenger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePassenger">
      <soap12:operation soapAction="http://tempuri.org/IService/DeletePassenger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPassengers">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAllPassengers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <soap12:operation soapAction="http://tempuri.org/IService/CreatePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayment">
      <soap12:operation soapAction="http://tempuri.org/IService/GetPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePayment">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdatePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePayment">
      <soap12:operation soapAction="http://tempuri.org/IService/DeletePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePlane">
      <soap12:operation soapAction="http://tempuri.org/IService/CreatePlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlane">
      <soap12:operation soapAction="http://tempuri.org/IService/GetPlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlane">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdatePlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlane">
      <soap12:operation soapAction="http://tempuri.org/IService/DeletePlane" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanes">
      <soap12:operation soapAction="http://tempuri.org/IService/GetAllPlanes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRow">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRow">
      <soap12:operation soapAction="http://tempuri.org/IService/GetRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRow">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRow">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSeat">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeat">
      <soap12:operation soapAction="http://tempuri.org/IService/GetSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSeat">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeat">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTicket">
      <soap12:operation soapAction="http://tempuri.org/IService/CreateTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <soap12:operation soapAction="http://tempuri.org/IService/GetTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <soap12:operation soapAction="http://tempuri.org/IService/UpdateTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <soap12:operation soapAction="http://tempuri.org/IService/DeleteTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="WSHttpBinding_IService" binding="tns:WSHttpBinding_IService">
      <soap12:address location="https://localhost:6868/SecureService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:6868/SecureService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>